.appLayout {
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #009c4d 0%, #007e8b 61.2%);
}

.routesWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.routesWrapperMobile {
  min-height: auto !important;
  zoom: 1 !important;
}

@media (width <= 1536px) {
  .routesWrapper {
    zoom: 0.97;
  }
}
