.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #129958;
  border-right-color: #e3e5e8;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
