.headerSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  align-self: center;
  width: 80px;
}

.titleSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainTitle {
  color: #111622;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.subtitle {
  color: #626975;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

.logoSkeleton {
  display: flex;
  justify-content: center;
}

.subtitleSkeleton {
  margin: 0 auto;
}
