.modalContainer {
  font-family:
    'Nunito mbank',
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  overflow: hidden;
  height: 100vh;
}

.backgroundWrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #009c4d 0%, #007e8b 61.2%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (width <= 991px) {
  .backgroundWrapper {
    max-width: 100%;
  }
}

.modalContent {
  border-radius: 16px;
  backdrop-filter: blur(3.3px);
  width: 842px;
  max-width: 100%;
  padding: 16px;
  background-color: #fff3;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.sectionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 12px;
  width: 100%;
}
