.container {
  text-align: center;
  margin-top: 22px;
}

.icon {
  height: 60px;
  width: 60px;
  margin-bottom: 18px;
}

.title {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  color: #e02d3c;
  margin-bottom: 4px;
}

.subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #626975;
  white-space: pre-line;
  margin-bottom: 12px;
}
