@use 'fonts';
@use 'variables';
@use 'reset';

:root {
  --color-bg-main: #eff0f1;
  --color-bg-primary: #fff;
  --color-body-tertiary: #e3e5e8;
  --color-bg-tertiary: #a0a7b1;
  --color-text-primary: #111622;
  --color-text-secondary: #626975;
  --color-text-tertiary: #a0a7b1;
  --color-accent: #129958;
  --color-on-accent: #fff;
  --color-text-warning: #e02d3c;
  --color-promo: #017cc7;
  --color-bg-btn-primary: #ffdd2d;
  --radius-block: 20px;
  --radius-small: 16px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --font-family: 'Nunito mbank', -apple-system, roboto, helvetica, sans-serif;
}

[data-theme='dark'] {
  --color-bg-main: #050506;
  --color-bg-primary: #1c1c1e;
  --color-body-tertiary: #2f2f32;
  --color-bg-tertiary: #6b6c70;
  --color-text-primary: #fff;
  --color-text-secondary: #939498;
  --color-text-tertiary: #a0a7b1;
  --color-accent: #129958;
  --color-on-accent: #fff;
  --color-text-warning: #e84a4a;
  --color-promo: #017cc7;
  --color-bg-btn-primary: #ffdd2d;
  --radius-block: 20px;
  --radius-small: 16px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --font-family: 'Nunito mbank', -apple-system, roboto, helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background: var(--color-bg-main);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 430px;
}

#page {
  min-height: 100vh;
  background: var(--color-bg-main);
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* отключаем задержку клика */
button,
a {
  touch-action: manipulation;
}

/* ============================= */

/* Prevent Text Selection */

/* ============================= */

button,
a,
img {
  user-select: none;
}

/* ============================= */

/* Buttons */

/* ============================= */

button {
  appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  font-family: var(--font-family);
  transition:
    transform 0.12s ease,
    opacity 0.12s ease;
}

button::-moz-focus-inner {
  border: 0;
}

/* легкий нативный эффект */
button:active {
  transform: scale(0.98);
  opacity: 0.9;
}

/* убрать outline при тапе */
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

/* если не нужна подсветка фокуса */
button:focus-visible {
  outline: none;
}

/* ============================= */

/* Inputs */

/* ============================= */

input,
textarea,
select {
  appearance: none;
  border-radius: 0;
  outline: none;
  font: inherit;
  font-family: var(--font-family);
  border: none;
  background: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

input[type='number'] {
  appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

/* ============================= */

/* Links */

/* ============================= */

a {
  text-decoration: none;
  color: inherit;
}

/* ============================= */

/* Images */

/* ============================= */

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
}

.currencySymbol {
  font-family: 'Noto Sans Symbols 2', 'Segoe UI Symbol', 'Arial Unicode MS', sans-serif;
}
