.container {
  text-align: center;
}

.icon {
  height: 60px;
  width: 60px;
}

.title {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  color: #111622;
  margin-top: 18px;
}

.subtitle {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #626975;
}
