.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.icon {
  height: 60px;
  width: 60px;
}

.text {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #17aa5d;
}
