.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(180deg, #008fe5 18.49%, #0078c1 100%);
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px var(--spacing-l);
  flex-shrink: 0;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 4px;
  background: rgb(32 32 32 / 40%);
  backdrop-filter: blur(5px);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding: var(--spacing-m) var(--spacing-l);
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.title {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: -0.3px;
}

.bodyText {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.periodInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.periodTitle {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.bulletList {
  list-style: disc;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  li {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.2px;
  }
}

.clockImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 16px 50px;
}

.clockImage {
  width: 100%;
  max-width: 263px;
  height: auto;
  object-fit: contain;
  transform: rotate(-3deg);
}

.bottomBar {
  padding: var(--spacing-s) var(--spacing-l);
  padding-bottom: max(var(--spacing-s), env(safe-area-inset-bottom));
  flex-shrink: 0;
}

.continueBtn {
  display: flex;
  width: 100%;
  padding: 17px var(--spacing-l);
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-block);
  background: #f4f5f6;
  color: #129958;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.2px;
  border: none;
  cursor: pointer;
}
