.title {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: #111622;
}

.subtitle {
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
  color: #626975;
}

.errorIconContainer {
  margin-top: 30px;
  text-align: center;
}

.actionContainer {
  margin-top: 24px;

  .refreshButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 14px 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  .refreshIcon {
    transition: transform 0.4s ease;
  }

  .refreshButton:hover .refreshIcon {
    transform: rotate(180deg);
  }

  .refreshText {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #129958;
  }
}
