.container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loader {
  margin-bottom: 18px;
}

.loaderText {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #111622;
}

.timerSection {
  margin-top: 4px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.timerText {
  color: #626975;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
  width: 100%;
}

.helpButton {
  background: none;
  border: none;
  color: #e02d3c;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.helpButton:focus-visible {
  outline: 2px solid #d0312d;
  outline-offset: 2px;
}
