.authButton {
  background: linear-gradient(135deg, #009c4d 0%, #007e8b 100%);
  border-radius: 16px;
  width: 100%;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
}

.buttonIcon {
  flex-shrink: 0;
  width: 19px;
}

.buttonLabel {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}
