// --- Кнопка для выбора кода страны ---

.dropdownButton {
  border-radius: 12px;
  background-color: #e3e5e8;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

@media (width <= 991px) {
  .dropdownButton {
    white-space: initial;
  }
}

.dropdownButton:hover {
  background-color: #e8e9ea;
}

.flagMainIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 24px;
}

.flagFallback {
  width: 24px;
  height: 16px;
  border-radius: 4px;
  background-color: #e3e5e8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  color: #111622;
  text-transform: uppercase;
}

.mainCodeText {
  color: #111622;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

// --- Список стран ---

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgb(17 21 33 / 10%);
  z-index: 1000;
  max-height: 300px;
  margin-top: 2px;
  overflow: hidden;
}

.inner {
  overflow-y: auto;
  max-height: 300px;
  box-sizing: border-box;
}

.inner::-webkit-scrollbar {
  width: 6px;
}

.inner::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 13px;
}

.inner::-webkit-scrollbar-thumb {
  background: #c3c7ce;
  border-radius: 13px;
}

@supports not selector(::-webkit-scrollbar) {
  .inner {
    scrollbar-color: #8a948f #c1c5c7;
  }
}

.dropdownNotice {
  padding: 16px 12px;
  font-size: 14px;
  color: #626975;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0 0 16px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.dropdownItem:hover {
  background-color: #f4f5f6;
}

.flagIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 38px;
}

.countryName {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}

.codeText {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #626975;
}

@media (width <= 991px) {
  .codeText {
    white-space: initial;
  }
}

.dropdownArrow {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease;
}

.dropdownArrowOpen {
  transform: rotate(180deg);
}

.countryNameContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #dcdfe4;
  width: 100%;
  padding: 8px 0;
}
