.btn {
  border-radius: 20px;
  border: 1px solid #129958;
  background-color: transparent;
  color: #129958;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;

  span {
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
  }
}

.btn:focus-visible {
  outline: 2px solid #0b6d3d;
  outline-offset: 2px;
}
