.section {
  border-radius: 16px;
  text-align: center;
  min-width: 240px;
  min-height: 498px;
  padding: 42px 35px;
  background-color: #f4f5f6;
}

.content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 262px;
  max-width: 100%;
}
