.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  // flex: 1;
}

.qrCodeWrapper {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.qrCanvas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrCodeWrapper svg,
.qrCodeWrapper canvas {
  width: 100% !important;
  height: auto !important;
}

.qrPlaceholder {
  border-radius: 12px;
  background: #f4f5f6;
  color: #8c949f;
  text-align: center;
  font-size: 14px;
  padding: 16px;
  margin-top: 30%;
}

.timerSection {
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin-top: 14px;
}

.timerText {
  color: #626975;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.errorMessage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.errorText {
  color: #d0312d;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
