.deniedContainer {
  text-align: center;
  margin-top: 20px;
}

.mainTitle {
  margin-bottom: 8px;
  color: #111622;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.subtitle {
  color: #626975;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

.deniedLogo {
  margin-top: 8px;
}

.deniedBtn {
  margin-top: 24px;
}
